
@media screen and (max-width: 1200px){
    /* Classe Gerais */
    .flex{
        flex-direction: column;
    }
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    /* cabeçalho */
    header{
        display: flex;
        padding-bottom: 5%;
    }
    header > div.interface{
        position: relative;
        display: inline-flex;
        align-items: center;
    }
    .menu, .btn-contato{
        display: none;
    }
    div.swap-color{
        display: inline-flex;
        
    }

    /* topo do site*/
    }
    section.topo-do-site{
        text-align: center;
    }
    .topo-do-site h1{
        font-size: 32px;
        text-align: center;
    }
    div.interface{
        max-width: 50vw;
        min-width: 90%;
        }
    
    .topo-do-site .img-topo-site img{
        width: 100%;
    }
    /* Especialidades */
    section.especialidades{
        padding-top: 2%;
    }
    h2.titulo{
        padding-bottom: 4%;
    }
    div.especialidades-box{
        position: relative;
        display: flex;
        padding-bottom: 5%;
        
    }
    div.especialidade-box > h3{
        text-align: center;
    }

    /* Sobre */
    section.sobre{
        padding: 40px 8%;
    }
    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .btn-social{
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
    }
    section.portifolio{
        text-align: center;
    }
    .img-port{
        display: flex;
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    div.text-port{
        display: inline-block;

    }
 
    section.portifolio div.quebra{
        display: inline-block;
        position: relative;
    }
    /* Especialidades*/
    div.img-port{
        float: none;
        display: block;
        width: 90%;
        height: 300px;
    }
    .text-port{
        padding-top: 10vh;
        padding-bottom: 10%;
        margin-right: 1%;        
        margin-left: 1%;
        text-align: center;
    }
    .video-text{
        float: none;
        display: block;
        left: 200px;
        width: 100%;
        height: 100%;
    }
    .text-part{
        float: none;
       
    }
    .text-mobi{
        padding-top: 250px;
        margin: auto;
        text-align: center;
        left: 150px;
    }
    /* Rodapé */
    footer .flex{
        flex-direction: column;
        gap: 30px;
    }
    footer .line-footer{
        text-align: center;
    }